@import '../../styles/stylesKit.scss';

.header {
    background: $brand-primary-500;
    padding: 12px 0;

    &--sticky {
        position: sticky;
        top: 0;
        margin-bottom: 24px;
    }
}

@media(max-width: $small-mobile-width) {
    .header {
        &--sticky {
            position: static;
            display: flex;
            justify-content: center;
        }
    }
}